<main>
 <div class="container px-5 px-sam-0">
  <div class="row">
   <%= render 'books/list', book: @new_book, user: @user %>

    <!--投稿詳細-->
   <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
     <table class="table">
      <tbody>
       <tr>
        <td>
         <%= link_to user_path(@book.user.id) do%>
         <%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg", size:"40x40"%></br>
         <%= @book.user.name %>
         <% end %>
        </td>
        <td><%=link_to @book.title, book_path(@book.id)%></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%=link_to "Edit", edit_book_path,class:"btn btn-sm btn-success" %></td>
        <td><%=link_to "Destroy", book_path(@book), method: :delete, "data-confilm" => "本当に消しますか？", class:"btn btn-sm btn-danger" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
 </main>